.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinningLoader {
  animation: spin 2s linear infinite;
  width: 4rem;
  height: 4rem;
  color: #0074d9;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
