.recipeCard {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  border: var(--border);
  border-radius: var(--radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;

  @media (min-width: 992px) {
    flex-direction: row;
  }
}

.imageContainer {
  width: 100%;
  max-width: 992px;

  @media (min-width: 992px) {
    flex: 1;
  }
}

.recipeImage {
  object-fit: cover;
  height: 100%;
  border-radius: var(--radius) var(--radius) 0 0;

  @media (min-width: 992px) {
    border-radius: var(--radius) 0 0 var(--radius);
  }
}

.recipeMenu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.recipeMenuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  border: var(--border);
  border-radius: var(--radius);
  cursor: pointer;
  background-color: var(--secondary);

  &:hover {
    color: #e3e3e3;
    background-color: #2c2c2c;
  }
}

.recipeMenuOptions {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius);
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s, transform 0.3s;
  border: var(--border);
  background-color: var(--secondary);
}

.recipeCard:hover .recipeMenuOptions {
  opacity: 1;
  transform: translateY(0);
}

.recipeMenuOptionsItem {
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.8rem;
  font-weight: 500;
  color: var(--secondary-foreground);

  &:hover {
    background-color: var(--background);
    cursor: pointer;
  }
}


.recipeDetails {
  padding: 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: 992px) {
    flex: 2;
  }
}

.recipeName {
  font-size: 24px;
  margin-bottom: 10px;
}

.recipeMeta {
  display: flex;
  gap: 0.8rem;
  color: #777;

}

.recipeMeta p {
  font-size: 0.8rem;
  margin: 0;
}

.recipeIngredients h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.recipeTags ul,
.recipeCategories ul {
  display: flex;
  flex-wrap: wrap;
}

.recipeTags li,
.recipeCategories li {
  background-color: var(--primary);
  color: var(--primary-foreground);
  border-radius: var(--radius);
  padding: 5px 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--accent);
  }
}