.recipeCard {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  border: var(--border);
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;

  @media (min-width: 576px) {
    flex-direction: row;
  }
}

.recipeMenu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.recipeMenuButton {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  border: 1px solid #777;
  border-radius: 5px;
  cursor: pointer;
}

.recipeMenuButton:hover {
}

.recipeCard:hover .recipeMenuButton {
  display: flex;
}

.recipeMenuOptions {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s, transform 0.3s;
  border: 1px solid #777;
}

.recipeCard:hover .recipeMenuOptions {
  opacity: 1;
  transform: translateY(0);
}

.recipeMenuOptionsItem {
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.8rem;
  font-weight: 500;
}

.recipeMenuOptionsItem:hover {
  cursor: pointer;
  background-color: #bbbbbb;
}

.recipeImage {
  width: 100%;
  height: 100%;
  max-width: 440px;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}

.recipeDetails {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.recipeName {
  font-size: 24px;
  margin-bottom: 10px;
}

.recipeMeta {
  display: flex;
  gap: 0.8rem;
  color: #777;
  @media (max-width: 576px) {
    flex-direction: column;
  }
}

.recipeMeta p {
  font-size: 0.8rem;
  margin: 0;
}

.recipeIngredients h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.recipeTags ul,
.recipeCategories ul {
  display: flex;
  flex-wrap: wrap;
}

.recipeTags li,
.recipeCategories li {
  background-color: #0074d9;
  color: #fff;
  border: 1px solid #0074d9;
  border-radius: 15px;
  padding: 5px 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.recipeTags li:hover,
.recipeCategories li:hover {
  background-color: #0056b3;
}
