:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(36, 36, 36);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --background-color: ;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  width: calc(100% - 2rem);
  margin-inline: auto;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#root {
  width: 100%;
}

/* Utility Classes */
.container {
  max-width: 55rem;
  margin-inline: auto;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.hide {
  display: none !important;
}

/* Custom Properties */
.App {
  flex-direction: row;
  --gap: 2rem;
  background-color: rgb(46, 46, 46);
  border-radius: 10px;
  padding: 1rem 2rem 1rem 2rem;
}

.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-height: 80px;
}

.logo {
  max-height: 50px;
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

.pane {
  overflow-y: auto;
  /* padding: 10px; */
}

.main {
  width: 75%;
}

.sidebar {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar--header {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.sidebar-title {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 600;
  margin-bottom: 0;
}

.saved-menus-title {
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8em 1.2em;
  border-radius: 8px;
  border: 1px solid transparent;
}

.sidebar-menus-title {
  margin: 0;
}

.selected-menu {
  background-color: rgb(71, 74, 129);
}

.selected-menu:hover,
.saved-menus-title:hover {
  background-color: rgba(71, 74, 129, 0.5);
}

.sidebar-trash-icon {
  color: transparent;
}

.sidebar-trash-icon:hover {
  color: rgba(36, 36, 36);
}

.saved-menus-title:hover .sidebar-trash-icon:not(:hover) {
  color: #fff;
}

.nav-toggle {
  align-items: center;
  padding: 0.6em;
}

@media (max-width: 700px) {
  .main {
    width: 100%;
  }

  .header {
    justify-content: space-between;
    width: 100%;
  }
  .sidebar {
    /* transform: translateX(100%); */
    transition: all 500ms ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: rgba(36, 36, 36, 0.99);
    width: 70%;
    height: 100vh;
    padding-inline: 0.5em;
  }

  /* .sidebar[menu-visible] {
    transform: translateX(0);
  } */

  .sidebar-trash-icon {
    color: #fff;
  }
}
.icon-open,
.icon-close {
  fill: #fff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  .App {
    background-color: rgb(255, 255, 255);
  }
  .sidebar {
    transform: translateX(100%);
    background-color: rgba(255, 255, 255, 0.99);
  }
  .icon-open,
  .icon-close {
    fill: #213547;
  }
}
